/* general styles */

p {
	font-size: 16px;
}

h1 {
	font-size: 34px;
	line-height: 54px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

.light {
	font-weight: 400;
}

form .row {
	margin-bottom: 20px;
}

#page {

}

.item {

}

.item.header {
	padding-bottom: 50px;
}

.item.content, .item.portfolio, .item.team, .item.pricing, .item.contact {
	padding-top: 60px;
	padding-bottom: 60px;
}

.item.footer {
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-100 {
	padding-top: 180px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.width-100 {
	width: 100%;
}

header .navbar.plain li.active a {
	color: #1ABC9C;
}

header .navbar-white {
	background: #fff;
}

header .navbar-white a {
	color: #3D566E;
}


/* videos */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapper > .frameCover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: none;
}

/* hsoft style start */

.hs_social{
	display:block;
}
.hs_social ul{
	list-style:none;
	padding:0;
	margin:0;
}
.hs_social ul li{
	display:inline-block;
}
.hs_social ul li a{
	width:39px;
	height:39px;
	text-align:center;
	color:#666666;
	border:1px solid #999999;
	display:block;
	margin-right:15px;
	border-radius:100%;
}
.hs_social ul li a i{
	line-height:39px;
}
.hs_social ul li a:hover{
	color:#00bcd4;
	border-color: #00bcd4;
}

.trash { color:rgb(209, 91, 71); }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }

/* hsoft style end */
